@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --color-background:#EBF7FF;
  --color-primary:#1181C8;
  --color-textColor:#3C3C3C;
  --font-nunito: "Nunito", "sans-serif";
}

body{
  background-color: var(--color-background);
}